body {
    width: 994px;
    margin: auto;
    background-image: url("../images/bg.png");
    box-shadow: 5px 5px 5px 5px #565656;
}

header, main, footer {
    background-color: white;
    padding-left: 47px;
    padding-right: 47px;
}

header h1 {
    padding-top: 50px;
    color: #565656;
    font-size: 52px;
    font-family: "Terminal Dosis";
    margin-bottom: 0;
}

header p {
    color: #938e8e;
    padding-bottom: 25px;
    margin-bottom: 0;
}

#chercher {
    width: 34px;
    height: 22px;
    float: right;
    margin-right: 40px;
    margin: 0;
    padding-right: 2.5em;
}

a{
    text-decoration: none;
    color: #827f86;
    margin-bottom: 0;
}

header #menu {
    box-sizing: border-box;
    height: 59px;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    padding-top: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 900px;
}

header li {
    list-style: none;
    display: inline-block;
    padding-left: 1.5em;
    text-align: center;
    padding-bottom: 1em;
}

.sousmenu {
    display: none;
    margin: 0;
    padding: 0;
}

header ul li:hover .sousmenu {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    margin-top: 1em;
}

.sousmenu li {
    margin: auto;
    padding: 0;
    display: block;
}

.sousmenu a {
    box-sizing: border-box;
    display: inline-block;
    background-color: #f4f4f4;
    width: 100%;
    padding-bottom: 1em;
    color: #565656;
}

header img {
    margin-top: 33px;
    padding-top: 0;
    width: 900px;
    height: 508px;
}

main {
    padding-bottom: 10px;
}

main h2 {
    font-size: 28px;
    text-align: center;
    color: #3E2A21;
    font-family: "Terminal Dosis";
    padding-bottom: 22px;
    padding-top: 38px;
    margin: 0;
}

.source {
    text-align: center;
    color: #AEB6BF;
    font-size: 13px;
    font-family: "Helvetica Neue";
    padding-bottom: 30px;
    margin: 0;
}

main p {
    font-size: 13px;
    font-family: "Helvetica Neue";
    color: #606060;
}

.ultimo {
    padding-bottom: 20px;
    border-bottom: 1px solid #f3f3f3;
}

footer {
    padding-top: 10px;
    margin: 0;
}

#title {
    padding-top: 20px;
    box-sizing: border-box;
    text-align: center;
    color: #606060;
    font-family: "Terminal Dosis";
    height: 75px;
    margin-top: 20px;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
}

footer ul {
    width: 24%;
    height: 235px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}

footer h2 {
    font-family: "Terminal Dosis";
    font-size: 20px;
    color: #565656;
}

footer li {
    list-style: none;
    text-decoration: none;
    font-size: 13px;
    font-family: "Helvetica Neue";
    color: #606060;
    margin: 0;
    padding: 0;
    padding-right: 10px;
}
