body {
    width: 994px;
    margin: auto;
    background-image: url("../images/bg.png");
    box-shadow: 5px 5px 5px 5px #565656;
}
header, main, footer {
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;
}
header, main {

}
header h1 {
    padding-top: 50px;
    color: #565656;
    font-size: 52px;
    font-family: "Terminal Dosis";
    margin-bottom: 0;
}
header img {
    width: 34px;
    height: 22px;
    float: right;
    margin-right: 40px;
}
header p {
    color: #938e8e;
    padding-bottom: 25px;
}
a{
    text-decoration: none;
    color: #827f86;
}
header ul {
    box-sizing: border-box;
    height: 59px;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    padding-top: 20px;

}
header li {
    list-style: none;
    display: inline-block;
    height: 59px;
    padding-left: 2em;
    text-align: center;
}

main img{
    padding-top: 33px;
    width: 900px;
    height: 508px;
    margin-left: 25px;
}
main h2 {
    font-size: 28px;
    text-align: center;
    color: #3E2A21;
    font-family: "Terminal Dosis";
}
.source {
    text-align: center;
    color: #AEB6BF;
    font-size: 13px;
    font-family: "Helvetica Neue";
}
main p {
    font-size: 13px;
    font-family: "Helvetica Neue";
    color: #606060;
}
#title {
    box-sizing: border-box;
    text-align: center;
    color: #606060;
    font-family: "Terminal Dosis";
    height: 75px;
    padding-top: 20px;
}
footer {

}
footer ul {
    width: 20%;
    height: 235px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}
footer h2 {
    font-family: "Terminal Dosis";
    font-size: 28px;
    color: #565656;
}
footer li {
    list-style: none;
    text-decoration: none;
}
